/* font family start */
@font-face{
    src: url(../fonts/lato/lato-bold.ttf);
    font-family:lato-bold;
}
@font-face{
    src: url(../fonts/lato/lato-regular.ttf);
    font-family:lato-regular;
}


@font-face{
    src: url(../fonts/roboto/roboto-medium.ttf);
    font-family:roboto-medium;
}
@font-face{
    src: url(../fonts/roboto/roboto-regular.ttf);
    font-family:roboto-regular;
}
/* font family end */
/* common css start */
:root{
     
  --robo:"Roboto", sans-serif;
  --lato:"Lato", sans-serif;


    --ash: #8e8e8e;
    --white: #ffffff;
    --black:#333333;
 
}

body{
    font-family:roboto-regular;
    font-size: 16px;
    font-weight: 400;
    color:var(--ash);
}

/* common css end */
/* header start */
header{
    padding: 15px 0;
    background-color: var(--white);
}

.logo{
    width: 100%;
    text-transform: uppercase;
    font-family:lato-regular;
    font-size: 30px;
    font-weight: 400;
    color: var(--black);
}

.menu ul li a{
    padding-right: 30px !important;
    font-family:lato-regular;
    text-transform: uppercase;
    font-size:16px ;
    font-weight:400 ; 
    color:var(--ash) ;
}
.menu ul li a:hover{
    color:var(--black);
    transition: .4s;
  
}
.btn-search{
    color: var(--ash);
    border: none;
}
.btn-search::after{
    display: none;
}

.btn_d{
    width:350px;
    padding: 10px 10px;
}

.btn_d[data-bs-popper] {
    top: 60px;
    left: -350px;
   
  }
  .btn_d input{
    border: none;
  }
.btn_d button{
    padding-left: 20px;
    border: none;
    color: var(--ash);
    background: transparent ;
}
.btn_d button:hover{
    color: var(--black);
    
}
/* header end */
/* banner start */
.banner{
    background-image:url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider{
    margin: 210px 0 200px;
}
.s_h1{
    font-family:lato-bold;
    font-size:60px;
    font-weight: 700;
    color: var(--white);
}
.c_p{
    padding: 60px 120px 60px 0;
    font-family:roboto-regular;
    color: var(--white);
}

.cm_btn{
    display: inline-block;
   
}
.s_btn{
    text-decoration: none;
    padding: 15px 30px 15px;
    font-family:roboto-medium;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--white) !important;
    transition: .3s;
  
}
.s_btn:hover{
    background-color: var(--ash) !important;
    color: var(--white) !important;

}


.s_btn span i{
    padding-left: 10px;
    width: 40px;
}
.but{
    display: inline;
}

.s_butten{
    padding: 0;
    border: none;
     text-transform: uppercase;
     background-color: transparent;
     color: var(--black) !important;
}
.s_butten:hover{
    color: var(--ash) !important;
}
/* banner end */
/* service start */
.c-Pb{
    padding-bottom: 100px;
}

.c_shape{
    width: 2px;
    height:50px ;
    background-color: var(--black);
}

.ser_h1{
    font-family:lato-regular;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--black);
    margin: 30px 0 50px;
      
}
.s_p{
    font-family:roboto-regular;
    color: var(--ash);
 
   
}
.c_service{
    margin-top: 120px;
    padding: 0 15px 35px;
    border: 2px solid var(--ash);
}
.c_icon{
    margin: -23px auto 0;
    width: 70px;
    background-color: var(--white);
}
.c_icon i{
    font-size: 60px;
    color: var(--ash);
}
.c_h2{
    margin: 40px 0 20px;
    font-family: lato-bold;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--black);


}
.c_arrow{
    width:50px;
    height: 1px;
    background-color: var(--ash);
}
.cer_p{
    margin: 20px 0 40px;
}
.ser_btn{
    padding: 0;
    color: var(--ash);

}

.c_service:hover{
    border: 2px solid var(--black);
}
.c_service:hover .c_icon i{
    color: var(--black);
}
.c_service:hover .ser_btn{
    color: var(--black) !important;
    background-color: var(--white) !important;
}

.c_icon2{
    width: 45px;
    background-color: var(--white);
}
.c_icon3{
    width: 55px;
    background-color: var(--white);
   

}
.c_icon4{
    width: 55px;
    background-color: var(--white);

}
/* service end */

/* feature start */
.feature{}
.fe_img img{
    padding-right: 70px;
}
.fe_about{
    
}

.fe_h1{
    font-family:lato-regular;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--black);
}
.fe_p{
    padding: 45px 0;
}
.fe_btn{
    
    border: 2px solid;
}
.fe_p2{
    margin: 45px 0 20px;
}


/* feature end */
/* work start */
.work{
   background-color: #f8f8f8;
}
.nav_bar{
    margin-left: 400px;
}

.nav-link {
    text-transform:uppercase ;
   color: var(--ash);
   transition:none;
   
    
  }
  .nav-link:hover{
    color: var(--black);
  }
.c_title{

}
.discription{
    
    position: relative;
     overflow: hidden;
    margin-top: 40px;
    
}
.t_img{
    position: relative;
}
.overlay{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0;
    z-index: 0;
    transition: 0.33s linear;
      
}
.overlay:hover{
    opacity: .8;
}
/* .title_icon a i{
     margin: 0;
     position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    font-size: 60px;
    color: white;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transform: scale(0);
    transition: 0.33s linear;
} */


.overlay.title_h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-bottom: 0;
    font-family: lat0-bold;
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    padding-left: 30px;
    margin: 0;
}

 /* .title_p{
    padding-left: 30px;
   position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 35px;
	color: #000000;
	text-align: center; */
} */


